/* footer */
footer {
  background-color: #333A7B;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer_list_container{
  display: flex;
  justify-content: space-between;
}

footer p {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
}

.footer_icon_container {
  padding-top: 30px;
  font-size: 1.8rem;
  text-align: center;
}

footer i {
  padding-left: 6px;
  padding-right: 6px;
  color: #70C6C7;
}
